
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Example GOV.UK form elements
      </h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        GOV.UK Design system
      </h2>

      <ul class="govuk-list">
        <li>
          <a href="design-system/all-form-elements">
            All form components on one page
          </a>
        </li>
        <li>
          <a href="design-system/all-form-elements-with-errors">
            All form components on one page with errors
          </a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        One question per page examples
      </h3>

      <ul class="govuk-list">
        <li>
          <a href="design-system/one-question-per-page-radios">
            Radios
          </a>
        </li>
        <li>
          <a href="design-system/one-question-per-page-checkboxes">
            Checkboxes
          </a>
        </li>
        <li>
          <a href="design-system/one-question-per-page-date">
            Date
          </a>
        </li>
        <li>
          <a href="design-system/one-question-per-page-field">
            Field
          </a>
        </li>
        <li>
          <a href="design-system/one-question-per-page-radios">
            Radios
          </a>
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        Check your answers page
      </h3>
      <ul class="govuk-list">
        <li>
          <a href="design-system/check-your-answers">
            Check your answers
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">
        GOV.UK Elements (old)
      </h2>

      <ul class="govuk-list">
        <li>
          <a href="elements/all-form-elements">
            All form components on one page
          </a>
        </li>
        <li>
          <a href="elements/all-form-elements-with-errors">
            All form components on one page with errors
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
